<!DOCTYPE html>
<html>
<head>
  <title>Gethandjob</title>
  <%= stylesheet_link_tag    "custom", "jquerymobile" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script> 
	<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
	
	
</head>
<body>

<div data-role="page">

	<div data-role="header" data-position="inline">	
	<div class="logo"><%= image_tag 'logo.png' %></div>  <!-- logo -->
	</div>
	

<%= yield %>


</div><!-- /page -->



</body>
</html>
